[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
req_extensions     = req_ext
distinguished_name = dn

[ dn ]
C  = ES
ST = Madrid
L  = Madrid
O  = EVCharging
OU = SD
CN = api_central

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = api_central
